<div class="container">
  <div class="content">
    <p>Los datos aquí introducidos aparecerán en sus correspondientes columnas.</p>
  </div>
  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label class="label">Name of employee</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" [(ngModel)]="name" placeholder="Name Surname">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Module (Product)</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" [(ngModel)]="product" placeholder="Module (e.g. Connect MB)">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Role</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" [(ngModel)]="role" placeholder="Role (e.g. DEV-FE)">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Supplier</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" [(ngModel)]="supplier" placeholder="Supplier (e.g. Novatec Consulting Gmbh)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-6">

      <div class="field">
        <label class="label">¿Remoto?</label>
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="onRemoteHours">
          ¿Diferencia entre on-site y remoto?
        </label>
      </div>

      <div class="field">
        <label class="label">Sube un archivo (obligatorio)</label>
        <div class="file is-boxed" [ngClass]="{'is-info': !fileName, 'is-danger': fileName}">
          <label class="file-label">
            <input class="file-input" type="file" (change)="uploadFile($event)">
            <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-file-csv"></i>
            </span>
            <span class="file-label">
              {{fileName || 'Elige un archivo CSV...'}}
            </span>
          </span>
          </label>
        </div>
      </div>

    </div>
  </div>

  <footer class="card-footer">
    <p class="card-footer-item">
      <a class="button is-medium is-link" routerLink="/home" >Volver a inicio</a>
    </p>
    <p class="card-footer-item">
      <button class="button is-medium is-link" (click)="createTable()" [disabled]="!loadedFile">Generar tabla y mostrar</button>
    </p>
  </footer>
</div>
