<div class="container">
  <div class="content">
    <p>
      Esta aplicación convierte las horas desde el formato de Navision al esperado por Mercedes-Benz.io
    </p>
    <p>
      Para descargar las horas, ve a Navision/JobEntries y selecciona tu proyecto y WorkPackage. Copia los datos (solo los datos, sin cabeceras) y crea con ellos un archivo CSV, que será el que importes en la aplicación tras rellenar los campos.
    </p>
    <p>
      El programa diferencia las horas en remoto y on-site. Si tu contrato no diferencia las horas, desmarca la casilla.
    </p>
    <p>
      Aquí puedes descargar un ejemplo: <a (click)="downloadExample()">descargar</a>.
    </p>
  </div>

  <footer class="card-footer">
    <p class="card-footer-item">
      <a class="button is-medium is-link" routerLink="/inputs">Empezar</a>
    </p>
  </footer>
</div>




